
.vs/LeetCodeTests/FileContentIndex/3f141aff-fd76-4add-ba41-48561d25d8f8.vsidx
.vs/LeetCodeTests/v17/.futdcache.v1
.vs/LeetCodeTests/v17/.suo
.vs/ProjectEvaluation/leetcodetests.metadata.v2
.vs/ProjectEvaluation/leetcodetests.projects.v2
